@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #0D1B2A,#1B263B);
}


main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #070f17;
}
p{
 text-align: justify;
}
h1{
  color: #474f58;
  text-align: center;
  text-shadow: 1px 1px 2px black;  
}
h2{
    color: #1f1f1f;
}
/*#0D1B2A
#1B263B
#415A77
#778DA9
#E0E1DD*\