@charset "UTF-8";

/*Estilo para tela*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
 background-color: gray;
}

header > h1{
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: darkgray;

}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgb(108, 108, 108);
    color: white;
}
main {
    padding-top: 10px;
}
article > p {
    margin-top:20px;
}

article{
    max-width: 800px;
    display: block;
    margin: auto;
    text-align: justify;
}